*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
    color: inherit;
}
.main-header, .hero{
    background-color: #1f2937;
    color: #f9faf8;
}
.right-links{
    display: flex;
    gap: 16px;
}
.main-header{
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
}
.main-header p{
    font-weight: 900;
    font-family: roboto, sans-serif;
    font-size: 32px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.img-placeholder{
    display: flex;
    background-color: #ffffff50;
    height: 300px;
    width: 650px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.right-hero{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    line-height: 1.6;
    gap: 16px;
}
#hero{
    font-size: 48px;
    font-weight: 1000;
    line-height: 1.2;
}
.subtext{
    font-size: 18px;
    color: #aaaaac;
}
.right-hero button{
    width: 128px;
    height: 40px;
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}