*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: roboto, sans-serif;
}

.right-signup,
.footer,
.signup,
.main-header,
.hero,
.right-hero button{
    color: #f9faf8;
}

.main-header, .hero{
    background-color: #1f2937;
}

.right-links{
    display: flex;
    align-items: center;
    gap: 16px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
}

.main-header p{
    font-weight: 900;
    font-size: 32px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.img-placeholder{
    display: flex;
    background-color: #ffffff50;
    height: 300px;
    width: 650px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.right-hero{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
    line-height: 1.6;
    gap: 16px;
}

#hero{
    font-size: 48px;
    font-weight: 1000;
    line-height: 1.1;
}

.subtext, .grid-text, .signup-subtext{
    font-size: 18px;
    color: #ffffffb0;
}

.right-hero button{
    width: 128px;
    height: 40px;
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.grid-group{
    display: flex;
    gap: 64px;
    margin: 32px;
    justify-content: space-between;
    align-items: center;
}

.grid-box{
    width: 200px;
    height: 200px;
    border: 5px solid rgb(75, 113, 219);
    border-radius: 16px;
}

.grid-text{
    width: 200px;
    line-height: 1.4;
    text-align: center;

}

.random-info{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background-color: #e5e7eb;
    margin-top: 3%;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    width: 100%;
    line-height: 1.4;
    font-style: italic;
    padding: 0 20px;
}

.quote-credit{
    align-self: flex-end;
    font-size: 24px;
}

.signup-box{
    width: 60%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    background-color: #3882f6;
    border-radius: 10px;
}

.strong-signup{
    font-size: 20px;
    font-weight: 700;
}

.signup-subtext{
    font-size: 14px;
}

.signup{
    background-color: #3882f6;
    border: none;
    outline: 2px solid white;
    width: 10%;
    min-height: 20%;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    background-color: #1f2937;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}